node_modules
.vscode

#Hardhat files
cache

#Python artifacts
__pycache__
.pytest_cache

.env
[Bb]in
[Ii]nclude
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
__pycache__
pip-selfcheck.json

#Starknet plugin
starknet-artifacts
contracts/contract.cairo
